main { 
	width: 100%;
	height: 500px;	
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(../img/fondoform.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
caption {
	background-color: black;
	color: white;
	height: 30px;	
	font-size: 20px;
}
table {
	width: 40%;
	height: 80%;
	background-color: rgba(255,155,0,0.5);
	border: 1px solid black;
}
td {
	text-align: center;
	width: 40%;
	margin-left: 10px;	
}

ul {
	list-style: none;
}
